*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

mono_crash.*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs
.vscode/

.vscode/*

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.lnk

*.csproj
*.sln

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Aa]ssets/[Ll]ugins/Editor/Console/

[Aa]ssets/AssetServer

*.pidb.meta
*.pidb

[Uu]ser[Ss]ettings/

crashlytics-build.properties

.gradle/

.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?

*.csproj
*.sln
*.unityproj
*.sln
*.suo
*.csproj.user
*.pidb
*.booproj
*.svd
*.userprefs
*.unityproj
*.cubemap
BatchBuildResult.txt
GlowScannerCache
[Tt]humb.cache
[Vv]isual[Ss]tudio/Backup metadata
[Oo]bj/
[Bb]uild/
[Pp]latform/

*.swp
*.lock
*.lock*
.lock
.lock.*
*.sln.batch.resx
*.sln.docstates

*.VC.db
*.VC.opendb
obj
.suo

.idea
.sln.iml
out/

.idea/
.idea_modules/
*.iml
.gradle/

*.pidb.meta
*.pidb
*.pdb

*/UniversalRenderPipelineGlobalSettings.asset
packages-lock.json
poetrycompete_android/unityLibrary/libs
poetrycompete_android/unityLibrary/src/main/Il2CppOutputProject
poetrycompete_android/unityLibrary/src/main/jniLibs
poetrycompete_android/unityLibrary/src/main/jniStaticLibs
poetrycompete_android_BurstDebugInformation_DoNotShip
local.properties
poetrycompete_android/unityLibrary/symbols
com.android.games.engine.build_fingerprint
unityLibrary*.aar
poetrycompete_unity/MemoryCaptures

poetrycompete_unity/Assets/AddressableAssetsData/OSX/*
poetrycompete_android/unityLibrary/src/main/assets/aa
poetrycompete_unity/Assets/AddressableAssetsData/link.xml
poetrycompete_unity/Assets/AddressableAssetsData/link.xml.meta
poetrycompete_unity/Assets/AddressableAssetsData/ProfileDataSourceSettings.asset
poetrycompete_unity/Assets/AddressableAssetsData/ProfileDataSourceSettings.asset.meta
addressables_content_state.bin
addressables_content_state.bin.meta
poetrycompete_android/poetryCompete_BurstDebugInformation_DoNotShip
poetrycompete_android/unityLibrary/src/main/java